## Создание отчетности по трудозатратам

In [91]:
import pandas as pd
import datetime as dt

In [92]:
import datetime as dt

In [93]:
with open("./Номер заявки.txt", "r") as file:
    number = int(file.readline())

In [94]:
with open("./Квартал.txt", "r") as file:
    time_range = file.read().splitlines()
time_range = list(map(lambda date: dt.datetime.strptime(date, '%Y-%m-%d %H:%M:%S'), time_range))

In [95]:
number

3

In [96]:
print(time_range)

[datetime.datetime(2023, 7, 1, 0, 0), datetime.datetime(2023, 9, 30, 23, 59, 59)]

In [97]:
df = pd.read_excel('./Таблица.xlsx')
df = df.rename(columns={df.columns[4] : 'Дата создания'})
df.head()

,ID,Подразделение,Название,Исполнитель,Дата создания,Общее затраченное время,Проект: Название,Признак головной задачи,Категория специалиста,Затраченное время детально,Комментарий
0,125863,Департамент Вологодской области,- «Заявка № 2 от … ПС-5.1 Выполнение функций ...,Бородина Наталия Николаевна,2023-03-30,14:43:22,ПС-5 МР СЗ (учет трудозатрат),Головная,Специалист Северо-Запад,NaN,NaN
1,107756,Департамент Калининградской области,«Заявка № 1 от 01.01.2023 ПС-5.1 Выполнение ф...,Архип Евгений Витальевич,2023-01-25,1900-01-01 10:05:48,ПС-5 МР СЗ (учет трудозатрат),Головная,Специалист Северо-Запад,NaN,NaN
2,127729,Департамент Калининградской области,«Заявка № 2 от 01.04.2023 ПС-5.1 Выполнение ф...,Архип Евгений Витальевич,2023-04-03,1900-01-03 18:58:25,ПС-5 МР СЗ (учет трудозатрат),Головная,Специалист Северо-Запад,NaN,NaN
3,107650,Департамент Мурманской области,Заявка № 1 от ... ПС- 5.3 Выполнение запросов...,Васильева Маргарита Владимировна,2023-01-25,1900-01-15 07:07:34,ПС-5 МР СЗ (учет трудозатрат),Головная,Специалист ИВЦ Северо-Запад,NaN,NaN
4,108514,Департамент Архангельской области,Заявка № 1 от … ПС-5.1 Выполнение функций слу...,Артеменко Татьяна Викторовна,2023-01-27,1900-01-04 11:20:50,ПС-5 МР СЗ (учет трудозатрат),Головная,Специалист Северо-Запад,NaN,NaN

In [98]:
df = df[df['Признак головной задачи'] != 'Головная']
df = df.reset_index(drop=True)

In [99]:
df = df.drop(columns=['Общее затраченное время', 'Признак головной задачи'])
df.head()

,ID,Подразделение,Название,Исполнитель,Дата создания,Проект: Название,Категория специалиста,Затраченное время детально,Комментарий
0,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-24,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:35:21,Мониторинг соответствия качества оказываемых у...
1,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-24,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,02:35:43,Организация учета средств измерения
2,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-25,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:18:53,Контроль корректности указания в CMDB Заказчик...
3,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-25,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:07:05,Контроль корректности указания в CMDB Заказчик...
4,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-26,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:23:25,Формирование и контроль исполнения запросов в ...

In [100]:
beg_range = (time_range[0].date()).strftime("%d.%m.%Y")

In [101]:
beg_range

'01.07.2023'

In [102]:
title51 = 'Заявка №{} от {} ПС-5.1 Выполнение функций службы Заказчика ('.format(number, beg_range)
title51_1 = 'Заявка №{} от {} ПС-5.1 Выполнение функций службы заказчика ('.format(number, beg_range)
title53 = 'Заявка №{} от {} ПС-5.3 Выполнение запросов на оказание услуг Информационно-выплатных центров и Центров гибридной печати (ИВЦ и ЦГП) ('.format(number, beg_range)

In [ ]:
############

**Создание таблицы с ошибочными заголовками**

In [ ]:
errors_title = pd.DataFrame(columns=['ID', 'Название', 'Исполнитель', 'Подразделение', 'Дата создания', 'Категория специалиста', 'Затраченное время детально', 'Комментарий', 'Ошибка названия'])

In [230]:
IDs = []
for i in range(len(df)):
    # Checking the date of the submission
    date = dt.datetime.strptime(df['Дата создания'][i], '%Y-%m-%d')
    if ((date <= time_range[1]) and (date >= time_range[0])):
        #Checkimg for the mistake in title
        if (df['Название'][i].find(title51) == -1) and (df['Название'][i].find(title51_1) == -1) and (df['Название'][i].find(title53) == -1):
            if (df['ID'][i] not in IDs):
                errors_title.loc[len(errors_title.index)] = [df['ID'][i], df['Название'][i], df['Исполнитель'][i], df['Подразделение'][i], df['Дата создания'][i], df['Категория специалиста'][i], df['Затраченное время детально'][i], df['Комментарий'][i], 'Ошибка']
                IDs.append(df['ID'][i])

In [231]:
errors_title

Empty DataFrame
Columns: [ID, Название, Исполнитель, Подразделение, Дата создания, Категория специалиста, Затраченное время детально, Комментарий, Ошибка названия]
Index: []

In [143]:
with pd.ExcelWriter('./Ошибочные заголовки.xlsx') as writer:  
    errors_title.to_excel(writer, index=False)

In [ ]:
############

In [103]:
def isNaN(num):
    return num != num

In [104]:
def add_time(time1, time2):
    if (type(time1) != int):
        secs1 = time1.hour * 3600 + time1.minute * 60 + time1.second
        secs2 = time2.hour * 3600 + time2.minute * 60 + time2.second
        secs = secs1 + secs2
    else:
        secs2 = time2.hour * 3600 + time2.minute * 60 + time2.second
        secs = time1 + secs2
    return secs

In [105]:
def get_time(secs, total_time = False):
    
    hours = secs // 3600
    minutes = (secs % 3600) // 60
    seconds = secs % 60
            
    if (total_time == False):
        if seconds >= 30:
            minutes += 1
        if minutes >= 30:
            hours += 1
        return hours
    else:
        return dt.time(hour = hours, minute = minutes, second = seconds)

In [106]:
task51 = [[]]
task53 = [[]]

str51 = '5.1'
str53 = '5.3'

In [107]:
errors51 = pd.DataFrame(columns=['ID', 'Название', 'Исполнитель', 'Подразделение', 'Дата создания', 'Категория специалиста', 'Затраченное время детально', 'Комментарий', 'Ошибка время', 'Ошибка комментарий'])
errors53 = pd.DataFrame(columns=['ID', 'Название', 'Исполнитель', 'Подразделение', 'Дата создания', 'Категория специалиста', 'Затраченное время детально', 'Комментарий', 'Ошибка время', 'Ошибка комментарий'])

In [108]:
errors_total_time = pd.DataFrame(columns=['ID', 'Название', 'Исполнитель', 'Подразделение', 'Дата создания', 'Категория специалиста', 'Суточное время'])

In [109]:
for i in range(len(df)):
    # Checking the date of the submission
    date = dt.datetime.strptime(df['Дата создания'][i], '%Y-%m-%d')
    if ((date <= time_range[1]) and (date >= time_range[0])):
        # Filling the array for task 5.1
        if (df['Название'][i].find(str51) != (-1)):
            
            if (df['Исполнитель'][i] in task51[0]) == False:
                task51[0].append(df['Исполнитель'][i])
                dic = {'worker': df['Исполнитель'][i], 'department': df['Подразделение'][i], 'total_time': 0, 'total_correct_time': 0, 'total_correct_comment_time': 0, 'mistake_time': 0, 'mistake_comment': 0, 'mistake_total_time' : 0}
                task51.append(dic)
            if (isNaN(df['Затраченное время детально'][i]) == False):
                
                # Adding to total time
                task51[task51[0].index(df['Исполнитель'][i]) + 1]['total_time'] = add_time(task51[task51[0].index(df['Исполнитель'][i]) + 1]['total_time'], df['Затраченное время детально'][i]) 

                # Adding to correct total time 
                if (type(df['Затраченное время детально'][i]) == dt.datetime):
                    df.loc[i, ['Затраченное время детально']] = (df['Затраченное время детально'][i]).time()
                    
                if (df['Затраченное время детально'][i] >= dt.time(0,5,0)) & (df['Затраченное время детально'][i] <= dt.time(4,0,0)):  
                    task51[task51[0].index(df['Исполнитель'][i]) + 1]['total_correct_time'] = add_time(task51[task51[0].index(df['Исполнитель'][i]) + 1]['total_correct_time'], df['Затраченное время детально'][i])

                    # Adding to correct total time with valid comments
                    if (isNaN(df['Комментарий'][i]) == False):  
                        task51[task51[0].index(df['Исполнитель'][i]) + 1]['total_correct_comment_time'] = add_time(task51[task51[0].index(df['Исполнитель'][i]) + 1]['total_correct_comment_time'], df['Затраченное время детально'][i]) 
                    else: 
                        task51[task51[0].index(df['Исполнитель'][i]) + 1]['mistake_comment'] += 1

                elif (isNaN(df['Комментарий'][i]) == False):
                    task51[task51[0].index(df['Исполнитель'][i]) + 1]['mistake_time'] += 1

                    # Addind the row to the errors51 dataframe
                    errors51.loc[len(errors51.index)] = [df['ID'][i], df['Название'][i], df['Исполнитель'][i], df['Подразделение'][i], df['Дата создания'][i], df['Категория специалиста'][i], df['Затраченное время детально'][i], df['Комментарий'][i], 'Ошибка', 'Верно']
                    
                else:
                    task51[task51[0].index(df['Исполнитель'][i]) + 1]['mistake_comment'] += 1
                    task51[task51[0].index(df['Исполнитель'][i]) + 1]['mistake_time'] += 1
                    

        # Filling the array for task 5.3
        elif (df['Название'][i].find(str53) != (-1)):
            if (df['Исполнитель'][i] in task53[0]) == False:
                task53[0].append(df['Исполнитель'][i])
                dic = {'worker': df['Исполнитель'][i], 'department': df['Подразделение'][i], 'total_time': 0, 'total_correct_time': 0, 'total_correct_comment_time': 0, 'mistake_time': 0, 'mistake_comment': 0, 'mistake_total_time' : 0}
                task53.append(dic)
            if (isNaN(df['Затраченное время детально'][i]) == False):
                
                # Adding to total time
                task53[task53[0].index(df['Исполнитель'][i]) + 1]['total_time'] = add_time(task53[task53[0].index(df['Исполнитель'][i]) + 1]['total_time'], df['Затраченное время детально'][i]) 
                
                # Adding to correct total time 
                if (type(df['Затраченное время детально'][i]) == dt.datetime):
                    df.loc[i, ['Затраченное время детально']] = (df['Затраченное время детально'][i]).time()

                if (df['Затраченное время детально'][i] >= dt.time(0,5,0)) & (df['Затраченное время детально'][i] <= dt.time(4,0,0)):  
                    task53[task53[0].index(df['Исполнитель'][i]) + 1]['total_correct_time'] = add_time(task53[task53[0].index(df['Исполнитель'][i]) + 1]['total_correct_time'], df['Затраченное время детально'][i])

                    # Adding to correct total time with valid comments
                    if (isNaN(df['Комментарий'][i]) == False):  
                        task53[task53[0].index(df['Исполнитель'][i]) + 1]['total_correct_comment_time'] = add_time(task53[task53[0].index(df['Исполнитель'][i]) + 1]['total_correct_comment_time'], df['Затраченное время детально'][i]) 
                    else: 
                        task53[task53[0].index(df['Исполнитель'][i]) + 1]['mistake_comment'] += 1

                elif (isNaN(df['Комментарий'][i]) == False):
                    task53[task53[0].index(df['Исполнитель'][i]) + 1]['mistake_time'] += 1
                        
                else:
                    task53[task53[0].index(df['Исполнитель'][i]) + 1]['mistake_comment'] += 1
                    task53[task53[0].index(df['Исполнитель'][i]) + 1]['mistake_time'] += 1

In [110]:
task51[1]

{'worker': 'Александрова Елена Валентиновна',
 'department': 'Департамент Мурманской области',
 'total_time': 494059,
 'total_correct_time': 494059,
 'total_correct_comment_time': 494059,
 'mistake_time': 0,
 'mistake_comment': 0,
 'mistake_total_time': 0}

In [111]:
task53[2]

{'worker': 'Александрова Елена Александровна',
 'department': 'Дирекция по МР Северо-Запад',
 'total_time': 1342415,
 'total_correct_time': 1342415,
 'total_correct_comment_time': 1329038,
 'mistake_time': 0,
 'mistake_comment': 1,
 'mistake_total_time': 0}

In [122]:
data51 = pd.DataFrame.from_records(task51[1:])
data51.columns = ["Исполнитель", "Подразделение", "Трудозатраты, часов", "Трудозатраты с корректным временем, часов", "Трудозатраты с корректным временем и комментарием, часов", "Ошибки время", "Ошибки комментарии", "Ошибки названия"]
data51['Трудозатраты, часов'] = data51['Трудозатраты, часов'].apply(get_time)
data51['Трудозатраты с корректным временем, часов'] = data51['Трудозатраты с корректным временем, часов'].apply(get_time)
data51['Трудозатраты с корректным временем и комментарием, часов'] = data51['Трудозатраты с корректным временем и комментарием, часов'].apply(get_time)

In [123]:
data53 = pd.DataFrame.from_records(task53[1:])
data53.columns = ["Исполнитель", "Подразделение", "Трудозатраты, часов", "Трудозатраты с корректным временем, часов", "Трудозатраты с корректным временем и комментарием, часов", "Ошибки время", "Ошибки комментарии", "Ошибки названия"]
data53['Трудозатраты, часов'] = data53['Трудозатраты, часов'].apply(get_time)
data53['Трудозатраты с корректным временем, часов'] = data53['Трудозатраты с корректным временем, часов'].apply(get_time)
data53['Трудозатраты с корректным временем и комментарием, часов'] = data53['Трудозатраты с корректным временем и комментарием, часов'].apply(get_time)

In [124]:
data51 = data51[["Подразделение", "Исполнитель", "Трудозатраты, часов", "Трудозатраты с корректным временем, часов", "Трудозатраты с корректным временем и комментарием, часов", "Ошибки время", "Ошибки комментарии", "Ошибки названия"]]
data53= data53[["Подразделение", "Исполнитель", "Трудозатраты, часов", "Трудозатраты с корректным временем, часов", "Трудозатраты с корректным временем и комментарием, часов", "Ошибки время", "Ошибки комментарии", "Ошибки названия"]]

In [125]:
data51.head()

,Подразделение,Исполнитель,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов",Ошибки время,Ошибки комментарии,Ошибки названия
0,Департамент Мурманской области,Александрова Елена Валентиновна,137,137,137,0,0,0
1,Дирекция по МР Северо-Запад,Александрова Ольга Владимировна,29,13,13,4,0,0
2,Департамент Республики Карелия,Алисейчук Григорий Александрович,47,47,47,0,0,0
3,Департамент Республики Коми,Андреева Надежда Михайловна,377,377,373,0,1,0
4,Департамент Архангельской области,Артеменко Татьяна Викторовна,88,88,88,0,0,0

In [126]:
data53.head()

,Подразделение,Исполнитель,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов",Ошибки время,Ошибки комментарии,Ошибки названия
0,Департамент Псковской области,Антонова Ирина Анатольевна,317,317,317,0,0,0
1,Дирекция по МР Северо-Запад,Александрова Елена Александровна,373,373,369,0,1,0
2,Департамент Псковской области,Алексеева Светлана Александровна,430,430,430,0,0,0
3,Дирекция по МР Северо-Запад,Амелина Елена Дмитриевна,355,355,355,0,0,0
4,Департамент Республики Коми,Аникиева Наталья Александровна,314,314,314,0,0,0

In [127]:
data51 = data51.sort_values(['Подразделение','Исполнитель'], ascending=[True, True])
data51 = data51.reset_index(drop=True)
data51.head()

,Подразделение,Исполнитель,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов",Ошибки время,Ошибки комментарии,Ошибки названия
0,Департамент Архангельской области,Артеменко Татьяна Викторовна,88,88,88,0,0,0
1,Департамент Архангельской области,Барсуков Сергей Евгеньевич,126,118,118,1,3,0
2,Департамент Архангельской области,Беляева Лидия Борисовна,161,161,161,0,0,0
3,Департамент Архангельской области,Беляков Алексей Андреевич,171,171,171,0,0,0
4,Департамент Архангельской области,Карпенко Татьяна Николаевна,22,22,22,0,0,0

In [128]:
data53 = data53.sort_values(['Подразделение','Исполнитель'], ascending=[True, True])
data53 = data53.reset_index(drop=True)
data53.head()

,Подразделение,Исполнитель,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов",Ошибки время,Ошибки комментарии,Ошибки названия
0,Департамент Архангельской области,Беленькая Виктория Викторовна,295,295,295,0,0,0
1,Департамент Архангельской области,Быданова Надежда Александровна,327,327,324,0,2,0
2,Департамент Архангельской области,Горина Татьяна Александровна,223,223,223,0,0,0
3,Департамент Архангельской области,Краснова Евгения Андреевна,343,343,339,0,2,0
4,Департамент Архангельской области,Пегахина Ольга Евгеньевна,282,282,282,0,0,0

### Суточное время больше 8:15

In [160]:
df_copy = df.copy()

In [161]:
df_copy.head()

,ID,Подразделение,Название,Исполнитель,Дата создания,Проект: Название,Категория специалиста,Затраченное время детально,Комментарий
0,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-24,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:35:21,Мониторинг соответствия качества оказываемых у...
1,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-24,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,02:35:43,Организация учета средств измерения
2,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-25,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:18:53,Контроль корректности указания в CMDB Заказчик...
3,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-25,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:07:05,Контроль корректности указания в CMDB Заказчик...
4,159834,Департамент Мурманской области,Заявка №3 от 01.07.2023 ПС-5.1 Выполнение фун...,Александрова Елена Валентиновна,2023-07-26,ПС-5 МР СЗ (учет трудозатрат),Специалист Северо-Запад,03:23:25,Формирование и контроль исполнения запросов в ...

In [162]:
def to_seconds(time):
    secs = time.hour * 3600 + time.minute * 60 + time.second
    return secs

In [163]:
df_copy['Суммарное время'] = df_copy['Затраченное время детально'].map(lambda x: to_seconds(x))

In [164]:
errors_total_time = df_copy.groupby(['Исполнитель', 'Дата создания', 'ID'])['Суммарное время'].sum().to_frame().reset_index()

In [165]:
errors_total_time

                           Исполнитель Дата создания      ID  Суммарное время
0     Александрова Елена Александровна    2023-07-03  152491            27223
1     Александрова Елена Александровна    2023-07-04  152491            28798
2     Александрова Елена Александровна    2023-07-05  152491            27548
3     Александрова Елена Александровна    2023-07-06  152491            28113
4     Александрова Елена Александровна    2023-07-07  152491            23532
...                                ...           ...     ...              ...
6517          Юшкова Полина Евгеньевна    2023-09-18  155863            28010
6518          Юшкова Полина Евгеньевна    2023-09-19  155863            26635
6519          Юшкова Полина Евгеньевна    2023-09-20  155863            25029
6520          Юшкова Полина Евгеньевна    2023-09-21  155863            25527
6521          Юшкова Полина Евгеньевна    2023-09-22  155863            21931

[6522 rows x 4 columns]

In [167]:
errors_total_time = errors_total_time[errors_total_time['Суммарное время'] > 29700]
errors_total_time['Суммарное время'] = errors_total_time['Суммарное время'].map(lambda x: get_time(x, total_time = True))

/var/folders/s8/_z8dd1ds2xn9_kh2sc27yqzh0000gn/T/ipykernel_24408/3637536050.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors_total_time['Суммарное время'] = errors_total_time['Суммарное время'].map(lambda x: get_time(x, total_time = True))

In [168]:
errors_total_time

                           Исполнитель Дата создания      ID Суммарное время
41    Александрова Елена Александровна    2023-09-12  152491        08:15:10
48    Александрова Елена Александровна    2023-09-21  152491        08:28:09
216           Амелина Елена Дмитриевна    2023-09-07  153166        08:15:42
448      Беленькая Виктория Викторовна    2023-08-17  151761        08:15:57
467      Беленькая Виктория Викторовна    2023-09-13  151761        08:19:26
...                                ...           ...     ...             ...
6099   Чистякова Людмила Альфонсасовна    2023-09-18  152247        08:15:42
6100   Чистякова Людмила Альфонсасовна    2023-09-19  152247        08:15:38
6101   Чистякова Людмила Альфонсасовна    2023-09-20  152247        08:15:35
6102   Чистякова Людмила Альфонсасовна    2023-09-21  152247        08:15:41
6498          Юшкова Полина Евгеньевна    2023-08-22  155863        08:18:23

[133 rows x 4 columns]

### Статистика по подразделениям

In [152]:
data51_region = data51.copy()
data53_region = data53.copy()

In [153]:
data51_region = data51_region.drop(columns=['Исполнитель', 'Ошибки время', 'Ошибки комментарии', 'Ошибки названия'])
data51_region = data51_region.reset_index(drop=True)
data51_region.head()

,Подразделение,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов"
0,Департамент Архангельской области,88,88,88
1,Департамент Архангельской области,126,118,118
2,Департамент Архангельской области,161,161,161
3,Департамент Архангельской области,171,171,171
4,Департамент Архангельской области,22,22,22

In [154]:
data53_region = data53_region.drop(columns=['Исполнитель', 'Ошибки время', 'Ошибки комментарии', 'Ошибки названия'])
data53_region = data53_region.reset_index(drop=True)
data53_region.head()

,Подразделение,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов"
0,Департамент Архангельской области,295,295,295
1,Департамент Архангельской области,327,327,324
2,Департамент Архангельской области,223,223,223
3,Департамент Архангельской области,343,343,339
4,Департамент Архангельской области,282,282,282

In [155]:
data51_region = data51_region.groupby(['Подразделение']).sum()
data51_region

,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов"
Подразделение,,,
Департамент Архангельской области,798,790,790
Департамент Вологодской области,1245,1245,1238
Департамент Калининградской области,983,969,968
Департамент Мурманской области,1201,1201,1201
Департамент Ненецкого АО,26,26,26
Департамент Новгородской области,1760,1741,1727
Департамент Псковской области,945,945,942
Департамент Республики Карелия,844,844,841
Департамент Республики Коми,1523,1518,1506
Дирекция по МР Северо-Запад,1900,1862,1853

In [156]:
data53_region = data53_region.groupby(['Подразделение']).sum()
data53_region

,"Трудозатраты, часов","Трудозатраты с корректным временем, часов","Трудозатраты с корректным временем и комментарием, часов"
Подразделение,,,
Департамент Архангельской области,1470,1470,1463
Департамент Вологодской области,3360,3360,3354
Департамент Калининградской области,4695,4651,4650
Департамент Мурманской области,1548,1548,1548
Департамент Новгородской области,2028,2028,2028
Департамент Псковской области,1629,1629,1629
Департамент Республики Карелия,3893,3893,3889
Департамент Республики Коми,3871,3871,3868
Дирекция по МР Северо-Запад,6288,6288,6279

In [169]:
title = 'Отчет {}.xlsx'.format(dt.date.today().strftime("%d.%m.%Y"))
with pd.ExcelWriter('./{}'.format(title)) as writer:  
    data51.to_excel(writer, sheet_name='Сотрудники 5.1', index=False)
    data53.to_excel(writer, sheet_name='Сотрудники 5.3', index=False)
    data51_region.to_excel(writer, sheet_name='Департаменты 5.1')
    data53_region.to_excel(writer, sheet_name='Департаменты 5.3')
    errors51.to_excel(writer, sheet_name='Ошибки 5.1', index=False)
    errors53.to_excel(writer, sheet_name='Ошибки 5.3', index=False)
    errors_total_time.to_excel(writer, sheet_name='Больше 8.15', index=False)